@import "../../../colors.scss";
@import "../../../FloatingBox.scss";
@import "../../../interactables.scss";

.AppElt {
    @include FloatingBox(true);

    display: inline-block;
    text-align: start;
    vertical-align: top;
    margin: 20px;
    width: 200px;

    .-title {
        font-size: 1.3em;
        padding: 5px;
        font-weight: bold;
        --status-color-fg: #{$g-fg2};
        color: var(--status-color-fg);
        > span {
            padding: 0px 5px;
            background: var(--status-color-bg);
        }
    }
    .-buttons {
        display: flex;
    }
    .-StatusRow {
        border: 0px solid var(--status-color);
        color: var(--status-color-fg);
        padding: 5px;
        text-align: center;
        border-width: 0px 15px;
        background: var(--status-color-bg);
    }
    .-ButtonRow + .-ButtonRow {
        margin-left: 0px;
    }
    .-ButtonRow {
        flex: 1;
        margin: 5px;
        text-align: center;
        > a {
            display: block;
            padding: 3px;
            text-decoration: none;
            @include button();
        }
    }
}

.-c- {
    --status-color: #{$g-status-other};
    --status-color-bg: #{$g-status-other-bg};
    --status-color-fg: #{$g-status-other-fg};
    &.-c-good { --status-color: #{$g-status-good}; --status-color-bg: #{$g-status-good-bg}; --status-color-fg: #{$g-status-good-fg}; }
    &.-c-bad { --status-color: #{$g-status-bad}; --status-color-bg: #{$g-status-bad-bg}; --status-color-fg: #{$g-status-bad-fg}; }
    &.-c-med { --status-color: #{$g-status-med}; --status-color-bg: #{$g-status-med-bg}; --status-color-fg: #{$g-status-med-fg}; }
    &.-c-instructor { --status-color: #{$g-status-instructor}; --status-color-bg: #{$g-status-instructor-bg}; --status-color-fg: #{$g-status-instructor-fg}; }
    &.-c-pending { --status-color: #{$g-status-pending}; --status-color-bg: #{$g-status-pending-bg}; --status-color-fg: #{$g-status-pending-fg}; }
}