@import "../../colors.scss";

/*
$ms-bgCol: #ffffff;
$ms-bgCol-hov: #f7f7f7;
$ms-bgCol-hovTint: #00000008;
$ms-color: #4e4e4e;
*/

$ms-bgCol: $g-bg;
$ms-bgCol-hov: $g-ms-bg-hov;
$ms-bgCol-hovTint: $g-ms-bg-hov-tint;
$ms-color: $g-fg;

@mixin MultiSelect-optionsAnim-visible { opacity: 1; top: 5px; }
@mixin MultiSelect-optionsAnim-hidden { opacity: 0; top: 15px; }
@keyframes MultiSelect-optionsAnim {
    0% { @include MultiSelect-optionsAnim-hidden() }
    100% { @include MultiSelect-optionsAnim-visible() }
}
@keyframes MultiSelect-optionsAnim-rev {
    0% { @include MultiSelect-optionsAnim-visible() }
    100% { @include MultiSelect-optionsAnim-hidden() }
}

.MultiSelect {
    display: inline-block;
    user-select: none;
    min-width: 100px;
    --arrow-sz: 8px;
    --elt-height: 35px;
    --arrow-margin: 6px;
    height: var(--elt-height);
    color: $ms-color;
    --bg: #{$ms-bgCol};
    --bg-hov: #{$ms-bgCol-hov};
    --bg-hovTint: #{$ms-bgCol-hovTint};
    --options-width: 200px;

    $arSY: 0.75;
    &.-open {
        > .-content:before {
            transform: rotate(0deg) scaleY(#{$arSY});
        }
    }
    &:not(.-open) > .-options-aligner .-options {
        animation: MultiSelect-optionsAnim-rev 0.3s 1 both;
    }
    
    > .-content {
        $h: var(--arrow-sz);
        $m: var(--arrow-margin);
        position: relative;
        &:before {
            clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
            transform: rotate(-90deg) scaleY(#{$arSY});
            background: currentColor;
            transition: 0.3s transform;
            display: block;
            position: absolute;
            width: $h; height: $h;
            left: $m; top: calc(50% - #{$h} / 2);
            content: "";
        }
        padding: 3px #{$m};
        padding-left: calc(2 * #{$m} + #{$h} );
        border-radius: 3px;
        border: 1px solid;
        background: var(--bg);
        height: var(--elt-height);
        line-height: calc(var(--elt-height) - 6px - 3px);
        &:hover { background: var(--bg-hov); }
    }
    > .-options-aligner {
        position: relative;
        .-hover-break-protector {
            position: absolute;
            width: 100%;
            height: 15px;
        }
        .-options {
            position: absolute;
            z-index: 1;
            width: var(--options-width);
            animation: MultiSelect-optionsAnim 0.3s 1 both;
            background: var(--bg);
            box-shadow: 0px 0px 10px -4px;
            .-Option {
                position: relative;
                $h: 15px;
                $m: 6px;
                padding: $m;
                padding-left: $h + $m * 2;
                padding-top: $m - 1px;
                &:hover { background: var(--bg-hovTint); }
                &.-selected {
                    .-checkbox {
                        background: currentColor;
                    }
                }
                .-checkbox {
                    position: absolute;
                    width: $h; height: $h;
                    border: 2px solid currentColor;
                    left: $m; top: calc(50% - #{$h} / 2);
                    display: inline-block;
                }
            }
        }
    }
}