@import "../../colors.scss";
@import "../../interactables.scss";

.ExportPage {
    text-align: center;
    h1 {
        color: $g-fg2;
    }
    button, a {
        @include button();
    }
    select {
        @include input();
    }

    button, select {
        font-size: 1.1em;
        padding: .3em;
        margin: .5em;
        height: 50px;
        width: 150px;
    }
    .-upload {
        display: block;
        width: calc(300px + 1em);
        margin-inline-start: calc(50% - 150px - .5em);
        margin-top: 1em;
    }
    .-backBtn {
        display: inline-block;
        padding: .3em;
        margin: .5em;
        height: 35px;
        width: 150px;
    }
}