@import "../../../FloatingBox.scss";
@import "../../../colors.scss";


$i-bgCol: $g-bg;
$i-color: $g-fg;

.SearchBar {
    @include FloatingBox();

    margin: 20px;
    font-size: 0.95em;
    text-align: start;

    display: inline-block;
    width: fit-content;

    > .-title {
        span {
            color: $g-fg2;
            background: $g-status-other-bg;
            font-size: 1.3em;
            font-weight: bold;
            display: inline-block;
            padding: 0px 5px;
            margin: 8px 10px 0px 10px;
        }
    }
    > .-entries {
        margin: 5px;
        margin-top: 0px;
    }
    .-SearchTerm {
        margin: 5px;
        vertical-align: top;
        display: inline-block;
        > .MultiSelect {
            --elt-height: 35px;
        }
        > input {
            height: 35px;
            display: inline-block;
            font: inherit;
            padding: 8px;
            border: 1px solid $i-color;
            background: $i-bgCol;
            color: $i-color;
            border-radius: 2px;
            &:hover {
                background: $g-ms-bg-hov;
            }
        }
    }
}

