@import "../../colors.scss";
@import "../../FloatingBox.scss";

$pbsz: 30px;
$pbmar: 5px;

$htransT: 0.25s;

.AppList {
    text-align: center;
    padding: 20px 10px;

    /*
    .AppPage {
        $grad: linear-gradient(0deg, var(--g-bg2), var(--g-bg2) calc(100% - 200px), transparent);
        background: $grad;
        border: 1px solid var(--g-shadow);
        border-width: 0px 1px 1px 1px;
    }
    //*/
}

.PageSelector {
    $color: $g-fg2;
    //height: $pbsz+2*$pbmar;
    
    background: $g-bg;
    color: $color;

    @include FloatingBox(false);
    
    width: fit-content;
    display: inline-block;

    .-pages .-PageButton {
        display: inline-block;
        width: $pbsz;
        height: $pbsz;
        margin: $pbmar;
        line-height: $pbsz;
        vertical-align: top;
        text-align: center;
        font-weight: bold;
        color: $color;
        background: transparent;
        transition: color $htransT, background-color $htransT, border $htransT;

        &:hover, &.-current {
            color: $g-bg;
            background: $color;
        }
        &.-jump-small, &.-jump-large, &.-jump-ends {
            border: 2px solid $color;
        }
        
        > .-img {
            $msz: $pbsz/2 - 10px;
            margin: $msz;
            width: calc(100% - #{2*$msz});
            height: calc(100% - #{2*$msz});
            position: relative;
            background: currentColor;
            mask-size: contain;
            &.-reverse { transform: scaleX(-1); }
        }
    }
    .-page-size {
        padding: $pbmar; padding-top: 0px;
        input, label {
            margin: 0px 5px;
        }
        input {
            color: $g-fg;
            background: $g-bg;
            border: 1px solid $g-fg;
            border-radius: 2px;
            
            display: inline-block;
            font: inherit;
            padding: 0px; padding-left: 5px;
        }
    }
}